@model dotBlog.Models.PostViewModels.CreateViewModel


<div class="container-fluid">
    <h1 class="mt-4">Create</h1>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <form id="CreatePostForm" asp-controller="Post" asp-action="Add" method="post" enctype="multipart/form-data">
                    <div class="card-header">
                        <i class="fas fa-pen-fancy mr-1"></i>
                        Write a Post
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="HeaderImage"></label>
                            <div class="custom-file">
                                <input asp-for="HeaderImage" class="custom-file-input" accept="Image/*" />
                                <label class="custom-file-label">Choose Image</label>
                            </div>
                            <span asp-validation-for="HeaderImage" class="text-danger"></span>


                        </div>

                        <div class="form-group">
                            <label asp-for="Post.Title"></label>
                            <input asp-for="Post.Title" class="form-control" required />
                            <span asp-validation-for="Post.Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Post.Content"></label>
                            <textarea asp-for="Post.Content" class="form-control textarea" rows="8"></textarea>
                            <span asp-validation-for="Post.Content" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <p class="text-muted">publish now or save for later edits.</p>
                            <label>Publish Now?</label>
                            <input type="checkbox" checked data-toggle="toggle" asp-for="Post.Published" />
                            <br />
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/26.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('.textarea'))
            .then(editor => {
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            });

        $(".custom-file-input").on("change", function () {
            var filename = (this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(filename);
        });
    </script>

}